<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

<div class="container text-center">
<h1>About</h1>
<ol class="breadcrumb">
  <li class="breadcrumb-item"> <a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">About</li>
</ol>
<p>Written by Bruce Schimmel while following Django3 - Full Stack Websites with
  Python Web Development</p>
<p>Password generator allows users to quickly generate a random password of
 any length from lowercase characters. Users can also include uppercase, numbers,
 or special characters.</p>
 <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
 </div>
