<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<div class="container text-center">
  <h1>Password Generator</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
  <form action="{% url 'password' %}">
    <select name="length">
      <option value="6">6 characters</option>
      <option value="7">7 characters</option>
      <option value="8">8 characters</option>
      <option value="9">9 characters</option>
      <option value="10">10 characters</option>
      <option value="11">11 characters</option>
      <option value="12" selected="selected">12 characters</option>
      <option value="13">13 characters</option>
      <option value="14">14 characters</option>
      <option value="15">15 characters</option>
      <option value="16">16 characters</option>
      <option value="17">17 characters</option>
      <option value="18">18 characters</option>
      <option value="19">19 characters</option>
      <option value="20">20 characters</option>
      <option value="21">21 characters</option>
      <option value="22">22 characters</option>
      <option value="23">23 characters</option>
      <option value="24">24 characters</option>
    </select> Length
    <br>
    <input type="checkbox" name="uppercase"> Uppercase
    <br>
    <input type="checkbox" name="numbers"> Numbers
    <br>
    <input class=""type="checkbox" name="special"> Special Characters
    <br>
    <input class="btn btn-primary" type="submit" value="Generate Password">
  </form>
  <a href="{% url 'about' %}" class="btn btn-secondary">About</a>
</div>
